
.ContainerRecette{
background-color: white;
margin: 150px 8px 40px 8px;
padding: 0px 8px 20px 8px;
box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
overflow: visible;
text-align:center;
display: flex;
flex-direction: column;

}
.colonne-recette
{display :flex;
    flex-direction:row;
    gap:20px;
width: 100%;
}
@media(max-width:768px) { 
    .colonne-recette{
        flex-direction:column;
    }
}
.ColumnRecettes{
display:flex;

flex-direction:row;
width:100%;
}
@media(max-width:600px){
    .ColumnRecettes
    {display:flex;
    flex-direction:column;}
}
.ContainerRecetteSingle{
    display: flex;
    padding: 20px;
    flex-direction:column;  
}
@media(max-width:600px){
    .ContainerRecetteSingle
   { display: flex;
    flex-direction:column;
   
    width: 100%;
    margin-left:0px;
    padding: 5px;
    flex-shrink:0;}
}    
.ConteudoProd{
width: 100%;
margin-top: 20px; 
}
.ConteudoProd h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829D;
    padding-bottom: 5px;
font: 400 1.6rem/1.5 'nunito', sans-serif;
font-size: 22px;
}

.colonne-recette .ConteudoProd p{
    font-size: 1.7rem;
}
.content .stars {
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    justify-content: center;
}

.content .stars i {
    font-size: .8rem;
    color: #ed2f59;

}
.icons-container ul{
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    margin-top: .5rem;
    position: relative;
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    width: 100%;
  
    }
    .icons-container  li{
        background: #eee;
        border-radius: .5rem;
        border:.1rem solid rgba(0,0,0,.2);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex: 1 1 17rem;
        
        padding:.5rem ;
        font-size: 1.2rem;
        width: 8rem;
        }
        .icons-container li .btn-modal {
            font-size: 1.2rem;
            color: var(--congolinaria);
            display: flex;
            flex-direction: row;
            gap: 1rem;
            
        }
       
        .icons-container li .btn-modal:hover {
            font-size: 1.2rem;
            color: #f1f1f1;
        }
        .icons-container li  .active{
            
             color:  #5c8599;
        }
        .icons-container li:hover{
            color: #eee;
            background:  #5c8599;
        }
.image-recette img{
display: block;
margin-left:0;
max-height: 400px;
object-fit: cover;
min-height: 200px;
width:100%;
background-color: lightgray;


}
.titulo-recette h2{
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
    color: #000;
    font: 700 1.8rem/1.5 'nunito', sans-serif;
    height: 25px;
}

 .ingredients {
    text-align: left;
   
    border: 1px solid lightgray;
    padding: 15px 15px;
    margin-top: 4px;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 1.8rem;
    font-family: 'nunito', sans-serif;
    line-height: 4rem;
    color: var(--light-color);
    
    
}
.etapes{
    font-size: 1.8rem;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid lightgray;
    margin-top: 2.4rem;
    text-align: left;
    font-family: 'nunito', sans-serif;
    /*font: 400 1.2rem/1.5 'nunito', sans-serif;  */
    line-height: 4rem;
    color: var(--light-color);
    
}

.colonne-recette{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    width: 100%;
    justify-content: center;

}

.colonne-recette p{
   font-size: 2.5rem;
}

.SugesRecette
{display:flex;
flex-direction:column;
margin-top:70px;}
.SugesRecette h2{
    font-size:14px;
}

.SugesRecette a{
    text-decoration:none;
    color :#555;
}
@media screen and(max-width:768){
    .SugesRecette{
    display:flex;
    margin-top:10px;
    flex-direction:column;}

    .SugesRecette img{
    width: 100%;
}

}