/* CONTENT */
#content-product {
	position: relative;
	width: 100%;
    top: 56px;
	transition: .3s ease;
	height: 100%;
}
#content-product main {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: 100%;
	height: 100%;
	overflow:visible;
}

#content-product main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}

#content-product main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content-product main .table-data .image {
	position: relative;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-basis: 400px;
}
.nav-product::-webkit-scrollbar {
    display: none;
}
#content-product main .table-data .image  img{
	position:absolute;
	width: 100%;
    max-width: 400px;
    border-radius: .5rem;
    object-fit: cover;
}
#content-product main .table-data .content {
	flex-grow: 1;
	flex-basis: 400px;
}

#content-product main .table-data .content h3 {
	text-align: left;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829D;
    padding-bottom: 5px;
	font: 400 1.6rem/1.5 'nunito', sans-serif;
	font-size: 22px;
}

#content-product main .table-data .content p {
	color: var(--dark);	
    font-size: 1.2rem;
    line-height: 2;
}
#content-product main .table-data .frete-info{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#content-product main .produto-relacionado {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	border-radius: 20px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
	background-color:#fff;
}
#content-product main .produto-relacionado h1 {
margin: 10px;
}