button.btn{
position: relative;
display: flex;
margin: 20px 0;
margin-left: 10px;
outline: 0;
background: var(--dark);
width: 80%;
border: 0;
padding: 15px;
border-radius: 3px;
box-sizing: border-box;
font-size: 16px;
cursor: pointer;
color: #ffffff;
transition: background-color .2s;
margin-left: 35px;
}