.recettes-btn {
	display: flex;
	align-items: center;
	grid-gap: 16px;
    margin: auto;
    margin-top: 10px;
   
}
.recettes-btn li button{
    background: transparent;
}
.recettes-btn li {
	background-color:#f1f1f1 ;
    padding: 10px;
    border-radius: 36px;
}
.recettes-btn li .bx{
    margin-right: 10px;
}
.profile-user{
    width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
	margin: 10px;
}
.btn_download{
	display: flex;
    width: 100%;
    border: 0;
    cursor: pointer;
    background : --light;
    
    color: #999;
    display: flex;
    align-items:center;
    justify-content: center;
   
}
.btn_download i{
	background: transparent;
}
.btn-modal{
    position: relative;
}
.contenair-modal{
    position: absolute;
    background: #ffffff;
    border-radius:7px;
    box-sizing: border-box;
    box-shadow: 2px 2px #f1f1f1;
    -moz-border-radius:5px;
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
   justify-items: center;
   align-items: center;
}
.contenair-modal-comment{
    position: absolute;
    background: #ffffff;
    border-radius:7px;
    box-sizing: border-box;
    box-shadow: 2px 2px #f1f1f1;
    -moz-border-radius:5px;
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
   justify-items: center;
   align-items: center;
   margin-top:200px;
}
.contenair-modal-comment a{
    text-decoration: none;
    background: #ed2f59;
    color: #fff;
    width: 60px;
    padding: 10px;
    border-radius: 5px;
}
.contenair-modal a{
    text-decoration: none;
    background: #ed2f59;
    color: #fff;
    width: 60px;
    padding: 10px;
    border-radius: 5px;
}