*{padding: 0; margin: 0; border: 0;
    box-sizing: border-box;}
  body{background:#e1e1e1; font-size: 62.5%;font-family: "Trebuchet MS", Arial,Helvetica,sans-serif;color:#333;}
  h1 {
      color: #fff;
      text-align: center;
  }
 
  
 
  .pdt label textarea{
      width:75%;
      border:1px solid #ccc;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      border-radius:5px;
      overflow:auto;
      margin:10px;

  }
  .pdt textArea {
      width: 75%;
  }
  .pdt textarea:focus{
      border-color:#333;
      
  }


  .pdt .btn{
      padding:10px 30px;
      float:right;
      margin:20px;
      background: red;
      color:white;
      font-size: 16px;
      font-family:open sans;

  }
  .pdt{
      display:block;
      margin: 10px;
      color : black;
      font-size:16px;
      font-family:open san;

  }
  .cat .img {
      margin: 20px;
      padding:20px;
      

  }

  #categoria{
      -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
      -moz-appearance: none; /* Remove estilo padrão do FireFox */
      appearance: none; /* Remove estilo padrão do FireFox*/
      /* Imagem de fundo (Seta) */
      background-position: 218px center;  /*Posição da imagem do background*/
      width: 250px; /* Tamanho do select, maior que o tamanho da div "div-select" */
      height:30px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
      border:1px solid #ddd;
  }
  .contenair{
      background-color :#e5f5f5;
      overflow:hidden;

  }
  div#formulario{
      background-color:#fff; box-shadow:inset 0 0 1em #666;
      border-radius: 0.5em;
      padding: 1em;
  }
  div#formulario input.inputTxt,select{border:1px solid #ccc;padding:0.3em;}
  div#formulario label { font-size: 1.3em; color :#999;display: block;margin-bottom: 1em;}
  div#footer{clear: both; margin:4em 0 1em; text-align: center; font-size: 1.1em;}