
    #page-landing {
        background-color: rgb(243, 244, 245); 
        text-align: center;
        min-height:100vh ;
        display: flex;
    }
    #container{
        margin: auto;
        width: min(90%, 112rem);
    }
    .location, h1, .visit p{
        height: 16vh;
       
    }
   
    .visit a {
        width: 8rem; 
        height: 8rem;
        background: #ffd666;

        border: none;
        border-radius: 3rem;

        display:flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        transition: background 200ms;
    }
    #logo{
        animation-delay: 50ms;
    }
    .visit a:hover{
        background-color: #96feff;
    }
    .location {
        animation-delay:100ms ;
    }
    main h1{
        animation-delay: 150ms;
    }
    .visit p {
        animation-delay: 200ms;
    }
    .visit a {
        animation-delay:250ms ;
    }

    /** 
 Quando a tela tem menos de 600 pixels de largura, oculta todos os links, exceto o primeiro ("Home")
Mostrar o link que contém deve abrir e fechar o topnav (.icon) **/

@media screen and (max-width: 600px) {

    .dropdown {display:none}
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;}
    .buscar{display: block;}
    .myLogo{display: block;}
    .navbar-mobile {display: block;
                    display: flex;}

}
/**A classe "responsive" é adicionada ao topnav com JavaScript quando o usuário clica no ícone. 
Esta classe faz com que o topnav tenha uma boa aparência em telas pequenas 
(exiba os links verticalmente em vez de horizontalmente)**/

@media screen and (min-width: 760px) {

    #container{
        padding: 5rem 2rem;
        background: url("../images/madesu.jpg") no-repeat 80% / clamp(30rem, 54vw, 56rem);
        
    }
  header
  {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .location, h1, .visit p{
    height: initial;
    text-align: initial;
   
}
.location {
    text-align: right;
    font-size:2.4rem ;
    line-height: 1.5;
}
main h1{
    font-size: clamp(4rem, 8vw, 8.4rem);
    font-weight: bold;
    line-height: .88;
    margin: clamp(10%, 9vh, 12%) 0 4rem;
    width: min(300px, 80%);

}
.visit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.visit p{
    font-size: 2.4rem;
    line-height:1.5;
    width: clamp(20rem, 20vw, 30rem);
}
.visit a {
    margin: initial;
}
}
@media screen and (max-width: 600px) {
  
}
@media screen and (max-width: 700px) {

   

}
