
aside.sidebar{
    position: fixed;
    height: 100vh;
    padding: 32px 24px;
    background: #15c3d6;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
aside.sidebar footer  button{
    width: 75px;
    height: 48px;
    color: white;
    border: none;
    background:  #12afcb;
    border-radius: 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: background-color 0.2s;
}
aside.sidebar footer  button:hover{
    background: #15c3d6;
}
.with-sidebar{
    padding-left: 110px;

}
