.mobile-menu-icon {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .mobile-menu-icon {
      display: block;
      position: absolute;
      font-size: 16px;
      color: white;
      background-color: #ed2f59;
      outline: none;
      top: 12px;
      left: 25px;
     
      
      padding: 10px;
  
    }
}