
.order .rowBox{
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem
}
.order .rowBox .image{
    flex: 1 1 30rem;
}
.order .rowBox .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.order .rowBox form{
    flex: 1 1 50rem;
    padding: 1rem;
}
.order .rowBox form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.order .rowBox form .inputBox input, .order .rowBox form textarea{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius:.5rem;
    width: 49%;

} 
.order .rowBox form textarea{
    width: 100%;
    resize: none;
    height: 15rem;
}
.order .rowBox form .btn{
     background: var(--dark);
     color: #fff;
}
.order .rowBox form .btn:hover{
    background: var(--congolinaria);
    color: #fff;
}
.AlertDanger{
    background-color:#f8d7da;
    color: #842029;
    margin: 20px 0;
    border: 1px solid #badbcc;
    border-radius:4px;
    padding: 7px; 
    font-size: 1.2rem;
    line-height: 1.5;
}
.AlertSucess{
    background-color:#d1e7dd;
    color: #0f5132;
    margin: 20px 0;
    border: 1px solid #badbcc;
    border-radius:4px;
    padding: 7px; 
    font-size: 1.2rem;
    line-height: 1.5;
}

@media(max-width:450px) {
    html{
        width: 100%;
    }
    .order .rowBox form .inputBox input{
        width: 100%;
    }
    
}