section #content{
    height: 700px;
    background: #000;
}

.home-title {
    font-size: 60px;
    text-align: center;
    margin: 100px 0 40px;
    text-align: center;
}

.sug-recettes {
    margin-top: 70px;
}

.sug-recettes a {
    text-decoration: none;
}

.sug-recettes h2 {
    font: 400 1.6rem/1.5 'nunito', sans-serif;
    font-size: 22px;
    color: #ed2f59;
}

.btn-left-recette {
    position: absolute;
    left: 2%;
    top: 50%;
    font-size: 50px;
    z-index: 1;
    color: white;

}

.btn-right-recette {
    position: absolute;
    top: 50%;
    right: 2%;
    z-index: 1;
    font-size: 50px;
    color: white;

}



.destaqueReceita {
    position: relative;
    width: 100%;
}

.destaqueReceita h1 {
    position: absolute;
    font-size: 2.5rem;
    text-align: left;
    margin-left: 10px;
    padding: 10px;


}

.destaqueReceita a {
    left: 50%;
    text-align: center;

    margin-left: 50%;
}



button.create-unidade-congolinaria {
    position: absolute;
    right: 4rem;
    bottom: 4rem;
    z-index: 10;
    color: white;

    width: 6.4rem;
    height: 6.4rem;
    background: #ed2f59;
    border: 0;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms;
    cursor: pointer;
}

button.create-unidade-congolinaria:hover {
    background: #17d6eb;
    cursor: pointer;
}

.container-recette {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: .8rem;
}


.container-single-recette {
    width: 70%;
    margin-left: 45rem;

}

.carte-single-recette p {
    color: #555;
    text-align: justify;
}



.carte-single-recette p {
    text-align: justify;
    color: #555;
    font: 400 1.6rem/1.5 'nunito', sans-serif;
}

.carte-recette a {
    text-decoration: none;

}

.img-vegan {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    padding: 3px 5px;
    color: white;
    background-color: #22bb88;
    font-size: 10px;
}


.btn {
    background: transparent;
    font-weight: 500;
    color: #ed2f59;
    margin: 5px;
}
.navigation-button{
    position: absolute;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: var(--dark);
    border: .2rem solid #d4d4d4;
    top:50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-button img{
    width: 1.5rem;
   
}
.prev-button{
    left: -10rem;
}
.navigation-button:hover{
    background-color: var(--congolinaria);
}
.next-button{
    right: -10rem;
}

@media screen and (max-width:600px) {


    .sug-recettes {
        display: none;
    }

    .carte-recette a {
        text-decoration: none;

    }

    .img-vegan {
        font-size: 6px;
    }

    button.create-unidade-congolinaria {
        display: none;
    }

    .animate-right {
        display: none;
        width: 0px;
    }

    .container-single-recette {
        width: 95%;
        margin-left: auto;
        padding: 5rem;
    }

    .contenair-categorie {
        max-width: 100vw;
    }
}