/* CONTENT */
#content-carrinho {
	position: relative;
	top: 56px;
	width: 100%;
	transition: .3s ease;
	height: 100%;
}
main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: visible;
}
main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
main .table-data .order h3,
main .table-data .resumo h3{
	text-align: left;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 1px solid #6C829D;
	margin-bottom: 20px;
    padding-bottom: 5px;
	font: 400 1.6rem/1.5 'nunito', sans-serif;
	font-size: 22px;
}
.resumo {
	flex-grow: 1;
	flex-basis: 200px;
    border-radius: 20px;
	
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
	height: 100%;
	

}
#content main .table-data .resumo table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data.resumo table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data.resumo table td {
	padding: 16px 0;
}
#content main .table-data.resumo table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
}
.order {
	flex-grow: 1;
	flex-basis: 500px;
    border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}

.order table {
	width: 100%;
	border-collapse: collapse;
}
.order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}

.order table td {
	padding: 16px 0;
}
.order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}

.order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
.order table tbody tr:hover {
	background: var(--grey);
}
.quantity {
	position: relative;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	text-align: left;
	width: 100%;
	padding: 10px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
	-webkit-appearance: visible;
	margin: 0;
  }
  
 
  
  .quantity input {
	position: relative;
	width: 60px;
	height: 42px;
	line-height: 1.65;
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	padding-left: 20px;
	border: 1px solid #eee;
	font-size: 12px;
	
  }
  
  .quantity input:focus {
	outline: 0;
  }
  
  /*.quantity-nav {
	float: left;
	position: relative;
	height: 42px;
  }*/
  
  .quantity-button {
	position: absolute;
	cursor: pointer;
	border-left: 1px solid #eee;
	width: 20px;
	text-align: center;
	color: #333;
	font-size: 13px;
	font-family: "Trebuchet MS", Helvetica, sans-serif !important;
	line-height: 1.7;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
  }
  

@media screen and (max-width: 576px) {
    .order table {
		min-width: 420px;
	}
}
