.ButtonError{
    display: flex;
    width: 80%;
    border: 0;
padding: 15px;
    cursor: pointer;

    background : #f5f8fa;
    border-radius: 3px;
    color: var(--light-color);
    display: flex;
    align-items:center;
    justify-content: center;
    max-width: 350px;
    transition: background-color .2s;
    margin-left: 35px;
   
}
.ButtonError:active{
    background: #edfff6;
    border: 1px solid #a1e9c5;
    color :#37c77f;
};

.ButtonError:hover{
    background:#17d6eb;
    color:#fff;}